:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #5bc7e1;
  --second-brand-color: rgba(248, 136, 16, .7);
  --third-brand-color: #c901a1;

  --main-font: 'Montserrat';
  --title-font: 'Montserrat Bold';

  font-size: 62.5%;
}
